<%= form_with model: [road, road_comment], local: false do |f| %>
  <div class="d-flex col-12 mb-3">
    <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに", class: "flex-fill rounded" %>
  </div>
  <div class="d-flex bd-highlight justify-content-center mb-2">
    <%= f.submit "送信する", class: "btn btn-primary" %>
  </div>
<% end %>