<h1>マップ</h1>
  <div id='map'></div>

  <style>
    #map {
      height: 600px;
      width: 600px;
    }
  </style>

  <script>
    function initMap(){
      geocoder = new google.maps.Geocoder()

         let map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 40.7828, lng: -73.9653},
        zoom: 12,
      });
    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>


