<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-5">
      <h1 class="text-center">About</h1>
      <div class="mt-4">
          インターネットが発達した現代において、初めて行く場所はナビを設定することは当たり前になっています。</br>
          しかし、こんな経験はありませんか？</br>
        <div class="mt-4 text-center">
          「ナビ通り進んだのに、狭すぎて通れない・・・。」</br>
          「実際に来てみると私有地で通行できない・・・。」</br>
        </div>

        <div class="mt-4 mb-5">
          運転をする方なら一度は経験があるかと思います。
          このような場面に遭遇すると狭い道で切り返す必要があり、時間はかかりますし、事故の危険もあります。</br>
          そこで、運転の前にこのサイトをご利用いただき、事前に運転が難しい道を避けて頂くことで、</br>
          皆様が安全に目的地にたどり着くことのお手伝いになれればうれしく思います。
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <%= image_tag 'istockphoto-1185199335-612x612',size: "700x340" %>
  </div>
</div>