<%# adminの投稿リストとユーザー詳細、publicのマイページのテーブル部 %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>住所</th>
        <th>走行難度</th>
      </tr>
    </thead>
    <tbody>
      <% roads.each do |road| %>
      <tr>
        <td style="width: 18%"><%= road.user.name %></td>
        <td>
          <% url = admin_signed_in? ? admin_road_path(road.id) : road_path(road.id) %>
            <%= link_to url do %>
              <%= road.address %>
            <% end %>
        </td>
        <td style="width: 25%"><%= render "public/roads/static_rate", road: road %></td>
      </tr>
      <% end %>
    </tbody>
  </table>