<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h4 class="col-3 title mt-3 mb-4 text-center">投稿リスト</h4>
      <%= render 'index', roads: @roads %>
    </div>
  </div>
</div>
