/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.footerFixed{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

header{
  background-color: gray;
  border-bottom: 20px #c0c0c0;
  color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: white;
}

footer{
  text-align: center;
  background-color: gray;
  color: white;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 30px 0;

}

.title{
  background-color: silver;
  border-radius: 20px;
}

.link{
  text-decoration: none !important;
}

// フラッシュメッセージ設定
#flash-notifications{
  color: white;

  .notice {
    background-color: #3cb371;
    padding: 12px 20px;
  }

  .alert {
    background-color: #fa8072;
  }
}

.field_with_errors {
  display: flex;
  width: 408px;
}
