/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
  background-color: gray;
  border-bottom: 20px double white;
  border-top: 20px double white;
  color: white;
}

footer{
  border-top: 20px double white;
  text-align: center;
  background-color: gray;
  color: white;
}

.main{
  min-height: 70vh;
}

.navbar-light .navbar-toggler-icon {
    background-image: white;
}

li{
  margin: 5px 15px;
}

.title{
  background-color: silver;
  border-radius: 20px;
}

.link{
  text-decoration: none !important;
}

// フラッシュメッセージ設定
#flash-notifications{
  color: white;

  .notice {
    background-color: #3cb371;
    padding: 12px 20px;
  }

  .alert {
    background-color: #fa8072;
  }
}

// 新規登録時のエラーメッセージ表示
#error_explanation{
  color: white;
  background-color: #fa8072;
  padding: 5px 20px;
}


