<h4>ユーザー詳細</h4>
<span>ユーザー名</span>
<span><%= @user.name %></span></br>
<span>e-mailアドレス</span>
<span><%= @user.email %></span></br>
<span>会員ステータス</span>
  <% if @user.is_deleted == true %>
    <span>退会</span>
  <% else %>
    <span>有効</span>
  <% end %>
<p>
  <%= link_to '編集', edit_admin_user_path(@user.id) %>
</p>
