<div class="container">
  <div class="row">
    <%= render 'public/users/show', user: @user %>
    <div class="col-md-7">
      <%= render 'admin/roads/index', roads: @roads %>
    </div>
  </div>
</div>
