<div class="container">
  <div class="row">
    <%= render 'public/users/show', user: current_user %>
    <div class="col-lg-8">
      <%= render 'admin/roads/index', roads: @roads %>
    </div>
  </div>
</div>

